@import "../../index.scss";

.detailBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  .imageAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    h2 {
      display: flex;
      justify-content: center;
    }

    img {
      width: 700px;
    }

    & > button {
      width: 100%;
    }
  }

  .detailText {
    padding: 10px;
    width: 45%;
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.43);
    background-color: $white;
    h4 {
      color: $teal;
    }
  }
}
