.auth_home {
  .auth_home_pending {
    background-color: lightpink;
    .pending_image {
      border: red solid 1px;
    }
  }
  .auth_home_published {
    background-color: lemonchiffon;
    .published_image {
      border: red solid 1px;
    }
  }
  .auth_home_sold {
    background-color: peru;
    .sold_image {
      border: red solid 1px;
    }
  }
}
