@import "../../../index.scss";

$elements: 4;

.authHome_container {
  position: relative;
  width: 100%;

  @for $i from 0 to $elements {
    div:nth-child(#{$i + 1}) {
      top: $i * 25vw;
    }
  }
}
