header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 20px;
  background: grey;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 50px;
  width: 50px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.right {
  span {
    margin-right: 10px;
  }
}
