.sidebar {
  width: 15%;
  border: 1px solid red;
  height: 90vh;
  margin-top: 10vh;
  padding-top: 20px;

  ul {
    list-style: none;

    li {
      margin: 10px 0;
      font-size: 2rem;
    }
  }
}
