@import "../../index.scss";

.sidebar {
  width: 100%;
  background: $black;
  height: fit-content;
  position: fixed;
  top: 10vh;
  padding: 20px 40px 0 40px;

  .top_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    color: $white;
    font-size: 2rem;
    margin: 0;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

    li {
      margin: 10px 0;
      font-size: 0.75rem;

      a {
        color: $teal;
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .sidebar {
    width: 15vw;
    background: $black;
    height: 90vh;
    position: fixed;
    top: 10vh;
    padding: 20px 40px 0 40px;

    .close_sidebar {
      display: none;
    }

    h3 {
      color: $white;
      font-size: 2rem;
      margin: 0;
    }

    ul {
      list-style: none;
      display: block;

      li {
        margin: 10px 0;
        font-size: 1.25rem;

        a {
          color: $teal;
        }
      }
    }
  }
}
