@import "../../index.scss";

.sidebar {
  width: fit-content;
  background: $black;
  height: 90vh;
  position: fixed;
  top: 10vh;
  padding: 20px 40px 0 40px;

  h3 {
    color: $white;
    font-size: 2rem;
    margin: 0;
  }

  ul {
    list-style: none;

    li {
      margin: 10px 0;
      font-size: 1.5rem;

      a {
        color: $teal;
      }
    }
  }
}
