@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:300,600|Press+Start+2P&display=swap");

// Variables
// Fonts
$body-font: "Chakra Petch", sans-serif;
$header-font: "Press Start 2P", cursive;
// Colors
$white: #f8fbf9;
$teal: #45d6b3;
$black: #273436;
$pink: #f75162;
// Breakpoint
$breakpoint-small: "768px";
$breakpoint-medium: "1024px";

// Mixins
@mixin for-tablet {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin for-laptop-sm {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: $body-font;
  color: $black;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  background: $white;
  color: $black;

  &::-webkit-scrollbar {
    width: 1em;
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $pink;
    outline: 1px solid $pink;
  }
}

ul {
  padding: 0;
}

h1,
h2 {
  font-family: $header-font;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-family: $body-font;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button {
  background: $pink;
  border: none;
  color: $white;
  padding: 10px 20px;

  * {
    color: $white;
  }
}
